<nav class="navbar" role="navigation" aria-label="dropdown navigation">

  <button class="button navbar-burger" data-target="navMenu">
  <span></span>
  <span></span>
  <span></span>
</button>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {

// Get all "navbar-burger" elements
var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
if ($navbarBurgers.length > 0) {

  // Add a click event on each of them
  $navbarBurgers.forEach(function ($el) {
    $el.addEventListener('click', function () {

      // Get the target from the "data-target" attribute
      var target = $el.dataset.target;
      var $target = document.getElementById(target);

      // Toggle the class on both the "navbar-burger" and the "navbar-menu"
      $el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
}

});
</script>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a id="brand" class="navbar-item" href="{{ '/' | absolute_url }}">
        <h2>{{ site.title | default: site.github.repository_name }}</h2>
      </a>
    </div>

    <div class="navbar-end">
      {% for nav in site.data.nav %}
        {% if nav.subcategories != null %}
            <a class="navbar-item" href="{{ site.url }}{{ nav.url }}">{{ nav.title }} ▼</a>
            {% for subcategory in nav.subcategories %}
              <a  class="navbar-item" href="{{ site.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a>
            {% endfor %}
        {% elsif nav.title == page.title %}
             <a class="navbar-item active" href="{{ nav.url }}">{{ nav.title }}</a>
        {% else %}
            <a class="navbar-item" href="{{ nav.url }}">{{ nav.title }}</a>

        {% endif %}
      {% endfor %}
    </div>
  </div>
</nav>
