<nav class="navbar" role="navigation" aria-label="dropdown navigation">

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ '/' | absolute_url }}">
        <h2>{{ site.title | default: site.github.repository_name }}</h2>
      </a>
    </div>

    <div class="navbar-end">
      {% for nav in site.data.nav %}
        {% if nav.subcategories != null %}
            <a class="navbar-item" href="{{ site.url }}{{ nav.url }}">{{ nav.title }} ▼</a>
            {% for subcategory in nav.subcategories %}
              <a  class="navbar-item" href="{{ site.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a>
            {% endfor %}
        {% elsif nav.title == page.title %}
             <a class="navbar-item active" href="{{ nav.url }}">{{ nav.title }}</a>
        {% else %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</nav>
