---
---

@import "{{ site.theme }}";

body,
html,
nav,
section {
  font-family: 'Barlow Semi Condensed', sans-serif !important;
}

header {
  background: #3273dc !important;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

nav.navbar {
  background: 0 0;
}

a.navbar-item h2 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  font-family: sans-serif;
}

#main-content {
  p{
    font-size: 20px;
    color: #0e0e0e;
    letter-spacing: 0.3px;
  }

  .media-content {
    padding: 15px !important;
  }

  .r-img {
    width: 100%;
    object-fit: cover;
    min-height: 150px;
    max-height: 250px;
    border-radius: 10px 10px 0px 0px;
  }

  h1:before, h2:before, h3:before, h4:before {
    content: "" !important;
    padding-right: 0 !important;
    margin-left: 0em !important;
  }

  .box {
    margin: 5% 0%;
    background-color: white;
    border-radius: 10px;
    color: #4a4a4a;
    display: block;
    padding: 0 !important;

    &:nth-child(n+2) {
    width: 49%;
    margin: 0;
    display: inline-block;
  }
}
