---
---

@import "{{ site.theme }}";

html, body, section, nav{
  font-family: 'Barlow Semi Condensed', sans-serif !important;
}


header{
  background:  #3273dc !important;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

nav.navbar {
  background: 0 0;
}

a.navbar-item  h2  {
  color: black;
}
