---
layout: default
---
<div class="post">

  <div class="post-hero">


    {% if page.heroImg %}
      <img class="r-img" src=" {{page.heroImg}}" alt="Movie Poster">
    {% endif %}

    <h1 class="post-title">{{ page.title }}</h1>

  </div>
  <section class="summary">
    {% if page.rating %}
    <div id = "rating">
      <h3>Movie Rating: </h3>
      {% for star in (1.. page.rating) %}
        <i class="fa fa-star" aria-hidden="true"></i>
      {% endfor %}
      {% for star in (1.. page.rating-5) %}
        <i class="fa fa-star-o" aria-hidden="true"></i>
      {% endfor %}
    </div>
    {% endif %}
  </section>
  <article class="post-content">
    {{ content }}
  </article>

</div>
